<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button><a routerLink class="navbar-brand">
            <i class="fa fa-cube"></i> Angular Sails Starter Pack</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class=""><a href="https://github.com/Mozartted/Angular2-Sails-starter-pack">github</a></li>
            </ul>
        </div>
    </div>
</div>
