<nav-app></nav-app>
<div class="container">
    <router-outlet></router-outlet>
</div>
<footer class="footer">
    <div class="container text-center">
    <p class="pull-left">© 2015 Company, Inc. All Rights Reserved</p>
    <ul class="pull-right list-inline">
        <li>
            <a href="https://github.com/Mozartted/Angular2-Sails-starter-pack">GitHub Project</a>
        </li>
        <li>
            <a href="https://github.com/Mozartted/Angular2-Sails-starter-pack/issues">Issues</a>
        </li>
    </ul>
    </div>
</footer>

